///////////////////////////////////////////////////////////////////////////////
//
// Automated Marking System (AMS)
// 
// A scalable automated marking system that provides automated marking, quality
// feedback, and cheating detection all in one easy to use solution.
//
//
// Copyright (C) 2014, Joseph Heron, Jonathan Gillett, Daniel Smullen, 
// and Khalil Fazal
// All rights reserved.
//
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
///////////////////////////////////////////////////////////////////////////////
-# This file is app/view/student/grading.html.haml
#page-wrapper
  .row
    .col-lg-12
      %h1
        Submit Assignment
        %small Submit your Assignment
      %ol.breadcrumb
        %li
          %a{:href => "/student"}
            %i.fa.fa-edit
            Assignments
        %li.active
          %i.fa.fa-plus
          Submit Assignment
  / /.row
  .row
    .col-lg-12
      / DESCRIPTION
      %h2 
        = @assignment.name
  .row
    .col-lg-7
      .panel.panel-default
        .panel-heading
          %h3.panel-title Description
        .panel-body
          %p
            = @assignment.description
    .col-lg-5
      .panel.panel-default
        .panel-heading
          %h3.panel-title Requirements
        .panel-body
          .bs-example
            %ul.list-group
              %li.list-group-item
                %span.badge
                  = @assignment.max_time
                Maximum execution time (seconds)
              %li.list-group-item
                %span.badge
                  = @assignment.attempts
                Maximum attempts
              %li.list-group-item
                %span.badge C++
                Language
              %li.list-group-item
                %span.badge
                  = "#{@assignment.code_weight}%"
                Code analysis weight
              %li.list-group-item
                %span.badge
                  = "#{@assignment.test_case_weight}%"
                Test case weight
  - if @compiler_issues != nil && !@compiler_issues.empty?     
    / COMPILER OUTPUT
    .row
      .col-lg-12
        .panel.panel-primary
          .panel-heading
            %h3.panel-title
              %i.fa.fa-gear
              Compiler Output
          .panel-body
            .table-responsive
              %table.table.table-bordered.table-hover.table-striped.tablesorter
                %thead
                  %tr
                    %th Type
                    %th File
                    %th Line, Column
                    %th Code
                    %th Description
                %tbody
                  - @compiler_issues.each do |compiler_issue|
                    - if compiler_issue["issue_type"] != "error"
                      %tr.warning
                        %td 
                          = compiler_issue["issue_type"].capitalize
                        %td 
                          = compiler_issue["filename"]
                        %td
                          = "#{compiler_issue["line_number"]}, #{compiler_issue["col_number"]}"
                        %td 
                          = compiler_issue["relavent_code"]
                        %td 
                          = compiler_issue["message"]
                    - else
                      %tr.danger
                        %td 
                          = compiler_issue["issue_type"].capitalize
                        %td 
                          = compiler_issue["filename"]
                        %td
                          = "#{compiler_issue["line_number"]}, #{compiler_issue["col_number"]}"
                        %td 
                          = compiler_issue["relavent_code"]
                        %td 
                          = compiler_issue["message"]
  - if @static_issues != nil && !@static_issues.empty?
    / QUALITY METRICS
    .row
      .col-lg-12
        .panel.panel-primary
          .panel-heading
            %h3.panel-title
              %i.fa.fa-check-circle
              Quality Assessment
          .panel-body
            .table-responsive
              %table.table.table-bordered.table-hover.table-striped.tablesorter
                %thead
                  %tr
                    %th Type
                    %th File
                    %th Line
                    %th Description
                %tbody
                  - @static_issues.each do |static_issue|
                    - if static_issue["type"] != "error"
                      %tr.warning
                        %td 
                          = static_issue["type"].capitalize
                        %td 
                          = static_issue["filename"]
                        %td
                          = static_issue["line_number"]
                        %td 
                          = static_issue["description"]
                    - else
                      %tr.danger
                        %td 
                          = static_issue["type"].capitalize
                        %td 
                          = static_issue["filename"]
                        %td
                          = static_issue["line_number"]
                        %td 
                          = static_issue["description"]
  - if @test_cases != nil && !@test_cases.empty?
    / SAMPLE EVALUATION
    .row
      .col-lg-12
        .panel.panel-primary
          .panel-heading
            %h3.panel-title
              %i.fa.fa-flag
              Sample Evalution
          .panel-body
            .table-responsive
              %table.table.table-bordered.table-hover.table-striped.tablesorter
                %thead
                  %tr
                    %th Test Name
                    %th Description
                    %th Test Case
                    %th Status
                %tbody
                  - @test_cases.each do |test_case|
                    - if test_case["result"] == 't'
                      %tr
                        %td 
                          = test_case["name"]
                        %td 
                          = test_case["description"]
                        %td 
                          %ul.list-unstyled
                            - test_case["values"].each do |value|
                              %li
                                - if value["input"] == 't'
                                  = "input: #{value["value"]}"
                                - else
                                  = "output: #{value["value"]}"
                        %td
                          %span.label.label-success
                            %span.fa.fa-check
                            PASS
                    - else
                      %tr.danger
                        %td 
                          = test_case["name"]
                        %td 
                          = test_case["description"]
                        %td 
                          %ul.list-unstyled
                            - test_case["values"].each do |value|
                              %li
                                - if value["input"] == 't'
                                  = "input: #{value["value"]}"
                                - else
                                  = "output: #{value["value"]}"
                        %td 
                          %span.label.label-danger
                            %span.fa.fa-warning
                            FAIL
  - if @grades != nil && !@grades.empty?
    .row
      .col-lg-12
        .panel.panel-primary
          .panel-heading
            %h3.panel-title
              %i.fa.fa-pencil
              Assignment 1 Grades
          .panel-body
            .table-responsive
              %table.table.table-bordered.table-hover.table-striped.tablesorter
                %thead
                  %tr
                    %th
                      Last Name
                      %i.fa.fa-sort
                    %th
                      First Name
                      %i.fa.fa-sort
                    %th
                      Student Number
                      %i.fa.fa-sort
                    %th
                      Metrics Grade
                      %i.fa.fa-sort
                    %th Metrics Weight
                    %th Test Case Grade
                    %th
                      Test Case Weight
                      %i.fa.fa-sort
                    %th
                      Final Grade
                      %i.fa.fa-sort
                %tbody
                  - @grades.each do |grades|
                    %tr
                      %td
                        = grades["firstname"]
                      %td
                        = grades["lastname"]
                      %td
                        = grades["student_id"]
                      %td
                        = "#{grades["code_grade"].to_i}%"
                      %td
                        = "#{grades["code_weight"]}%"
                      %td
                        = "#{grades["test_case_grade"].to_i}%"
                      %td
                        = "#{grades["test_case_weight"]}%"
                      %td
                        = "#{grades["final_grade"].to_i}%"