///////////////////////////////////////////////////////////////////////////////
//
// Automated Marking System (AMS)
// 
// A scalable automated marking system that provides automated marking, quality
// feedback, and cheating detection all in one easy to use solution.
//
//
// Copyright (C) 2014, Joseph Heron, Jonathan Gillett, Daniel Smullen, 
// and Khalil Fazal
// All rights reserved.
//
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
///////////////////////////////////////////////////////////////////////////////
-# This file is app/view/student/index.html.haml
#page-wrapper
  .row
    .col-lg-12
      %h1
        Assignments
        %small Overview
      %ol.breadcrumb
        %li.active
          %i.fa.fa-edit
          Assignments
  / /.row
  .row
    .col-lg-4
      .panel.panel-success
        .panel-heading
          .row
            .col-xs-6
              %i.fa.fa-check.fa-5x  
            .col-xs-6.text-right
              %p.announcement-heading
                = @assignment[:graded]
              %p.announcement-text Assignments Graded

    .col-lg-4
      .panel.panel-warning
        .panel-heading
          .row
            .col-xs-6
              %i.fa.fa-exclamation-triangle.fa-5x
            .col-xs-6.text-right
              %p.announcement-heading 
                = @assignment[:left]
              %p.announcement-text Assignment Not Submitted!

    .col-lg-4
      .panel.panel-danger
        .panel-heading
          .row
            .col-xs-6
              %i.fa.fa-tasks.fa-5x
            .col-xs-6.text-right
              %p.announcement-heading 
                = @assignment[:error]
              %p.announcement-text Submission Errors

  / /.row
  .row
    .col-lg-12
      .panel.panel-primary
        .panel-heading
          %h3.panel-title
            %i.fa.fa-edit
            Posted Assignments
        .panel-body
          .table-responsive
            %table.table.table-bordered.table-hover.table-striped.tablesorter
              %thead
                %tr
                  %th Assignment
                  %th Date Posted
                  %th Date Due
                  %th Date Submitted
                  %th Grade
              %tbody
                - @assignments.each do |assignment|
                  - if assignment["post"] == 1
                    %tr{:class => "#{assignment["class"]}"}
                      %td
                        - if assignment["final"]
                          %a{:href => "/student/file/#{assignment["id"]}"}
                            = assignment["name"]
                        - elsif assignment["duedate"] == 1 
                          / Show the assignment code
                          %a{:href => "/student/assignment/#{assignment["id"]}"}
                            = assignment["name"]
                        - else
                          = assignment["name"]
                      %td
                        = assignment["posted"]
                      %td
                        = assignment["due"]
                      %td
                        - if assignment["final"]
                          / TODO make this date submitted
                          = assignment["due"]
                        - elsif assignment["duedate"] == 1
                          %span.label.label-warning
                            %span.fa.fa-warning
                            NOT SUBMITTED
                        - else
                          %span.label.label-danger
                            %span.fa.fa-warning
                            NOT SUBMITTED
                      %td
                        / = "post = #{assignment["post"]} due = #{assignment["duedate"]}"
                        - if assignment["final"]
                          %a{:href => "/student/grades/#{assignment["id"]}"}
                            = "#{assignment["final"]}%"
          
  / /.row
/ /#page-wrapper