///////////////////////////////////////////////////////////////////////////////
//
// Automated Marking System (AMS)
// 
// A scalable automated marking system that provides automated marking, quality
// feedback, and cheating detection all in one easy to use solution.
//
//
// Copyright (C) 2014, Joseph Heron, Jonathan Gillett, Daniel Smullen, 
// and Khalil Fazal
// All rights reserved.
//
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
///////////////////////////////////////////////////////////////////////////////
-# This file is app/view/student/index.html.haml
#page-wrapper
  .row
    .col-lg-12
      %h1
        Assignments
        %small Overview
      %ol.breadcrumb
        %li.active
          %i.fa.fa-edit
          Assignments
  / /.row
  .row
    .col-lg-4
      .panel.panel-success
        .panel-heading
          .row
            .col-xs-6
              %i.fa.fa-check.fa-5x  
            .col-xs-6.text-right
              %p.announcement-heading
                = @assignment[:graded]
              %p.announcement-text Assignments Graded

    .col-lg-4
      .panel.panel-warning
        .panel-heading
          .row
            .col-xs-6
              %i.fa.fa-exclamation-triangle.fa-5x
            .col-xs-6.text-right
              %p.announcement-heading 
                = @assignment[:left]
              %p.announcement-text Assignment Not Submitted!

    .col-lg-4
      .panel.panel-danger
        .panel-heading
          .row
            .col-xs-6
              %i.fa.fa-tasks.fa-5x
            .col-xs-6.text-right
              %p.announcement-heading 
                = @assignment[:error]
              %p.announcement-text Submission Errors

  / /.row
  .row
    .col-lg-12
      .panel.panel-primary
        .panel-heading
          %h3.panel-title
            %i.fa.fa-edit
            Posted Assignments
        .panel-body
          .table-responsive
            %table.table.table-bordered.table-hover.table-striped.tablesorter
              %thead
                %tr
                  %th Assignment
                  %th Date Due
                  %th Date Submitted
                  %th Grade
              %tbody
                - @assignments.each do |assignment|
                  %tr
                    %td
                      %a{:href => "/student/assignment/#{assignment.id}"}
                        = assignment.name
                    %td
                      = assignment.posted
                    %td
                      = assignment.due
                    %td
                %tr.success
                  %td
                    %a{:href => "/student/assignment_1.cpp"} Assignment 1
                  %td 10/20/2013 11:59 PM
                  %td 10/15/2013 3:29 PM
                  %td
                    %a{:href => "/student/grades/1"} 84%
                %tr.success
                  %td
                    %a{:href => "/student/assignment_2.cpp"} Assignment 2
                  %td 10/29/2013 11:59 PM
                  %td 10/29/2013 11:57 PM
                  %td
                    %a{:href => "/student/grades/2"} 74%
                %tr.danger
                  %td
                    %a{:href => "404.html"} Assignment 3
                  %td 11/15/2013 11:59 PM
                  %td
                    %span.label.label-danger
                      %span.fa.fa-warning
                      NOT SUBMITTED
                  %td
                    %a{:href => "/student/grades/3"} 0%
                %tr.warning
                  %td
                    %a{:href => "/student/assignment/4"} Assignment 4
                  %td 11/28/2013 11:59 PM
                  %td
                    %span.label.label-warning
                      %span.fa.fa-warning
                      NOT SUBMITTED
                  %td
          
  / /.row
/ /#page-wrapper