///////////////////////////////////////////////////////////////////////////////
//
// Automated Marking System (AMS)
// 
// A scalable automated marking system that provides automated marking, quality
// feedback, and cheating detection all in one easy to use solution.
//
//
// Copyright (C) 2014, Joseph Heron, Jonathan Gillett, Daniel Smullen, 
// and Khalil Fazal
// All rights reserved.
//
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
///////////////////////////////////////////////////////////////////////////////
-# This file is app/view/student/cheating.html.haml
#page-wrapper
  .row
    .col-lg-12
      %h1
        Cheating
        %small Assignment Similarity
      %ol.breadcrumb
        %li.active
          %i.fa.fa-exclamation-circle
          Review Cheating
  / /.row
  .row
    .col-lg-12
      .panel.panel-primary
        .panel-heading
          %h3.panel-title
            %i.fa.fa-exclamation-circle
            Assignment 1 Cheating Report
        .panel-body
          .table-responsive
            %table.table.table-bordered.table-hover.table-striped.tablesorter
              %thead
                %tr
                  %th
                    Last Name
                    %i.fa.fa-sort
                  %th
                    First Name
                    %i.fa.fa-sort
                  %th
                    Student Number
                    %i.fa.fa-sort
                  %th
                    Last Name
                    %i.fa.fa-sort
                  %th
                    First Name
                    %i.fa.fa-sort
                  %th
                    Student Number
                    %i.fa.fa-sort
                  %th
                    Code Similarity
                    %i.fa.fa-sort
                  %th View Difference
              %tbody
                - index = -2
                - while index + 2 < @cheating.size
                  - index += 2
                  %tr{:class => "#{@cheating[index]['similarity'] > 50 ? 'danger' : ''}"}
                    %td 
                      = @cheating[index]["first_student"].last_name
                    %td
                      = @cheating[index]["first_student"].first_name
                    %td
                      = @cheating[index]["first_student"].student_id
                    %td 
                      = @cheating[index]["second_student"].last_name
                    %td
                      = @cheating[index]["second_student"].first_name
                    %td
                      = @cheating[index]["second_student"].student_id
                    %td
                      = @cheating[index]["similarity"]
                    %td
                      %a{:href => "#"} View Difference
  = button_to 'Check for Cheating', {:controller => :admin, :action => :runCheatDetection}, :class => 'btn btn-primary btn-block btn-lg'