///////////////////////////////////////////////////////////////////////////////
//
// Automated Marking System (AMS)
// 
// A scalable automated marking system that provides automated marking, quality
// feedback, and cheating detection all in one easy to use solution.
//
//
// Copyright (C) 2014, Joseph Heron, Jonathan Gillett, Daniel Smullen, 
// and Khalil Fazal
// All rights reserved.
//
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
///////////////////////////////////////////////////////////////////////////////
-# This file is app/view/student/grading.html.haml
#page-wrapper
  .row
    .col-lg-12
      %h1
        Grading
        %small Grades for Assignments
      %ol.breadcrumb
        %li.active
          %i.fa.fa-pencil
          Review Grades

  - if @grades != nil && !@grades.empty?
    .row
      .col-lg-12
        .panel.panel-primary
          .panel-heading
            %h3.panel-title
              %i.fa.fa-pencil
              Assignment 1 Grades
          .panel-body
            .table-responsive
              %table.table.table-bordered.table-hover.table-striped.tablesorter
                %thead
                  %tr
                    %th
                      Last Name
                      %i.fa.fa-sort
                    %th
                      First Name
                      %i.fa.fa-sort
                    %th
                      Student Number
                      %i.fa.fa-sort
                    %th
                      Metrics Grade
                      %i.fa.fa-sort
                    %th Metrics Weight
                    %th
                      Test Case Grade
                      %i.fa.fa-sort
                    %th
                      Test Case Weight
                    %th
                      Final Grade
                      %i.fa.fa-sort
                %tbody
                  - @grades.each do |grades|
                    %tr
                      %td
                        = grades["firstname"]
                      %td
                        = grades["lastname"]
                      %td
                        = grades["student_id"]
                      %td
                        = "#{grades["code_grade"].to_f}%"
                      %td
                        = "#{grades["code_weight"]}%"
                      %td
                        = "#{grades["test_case_grade"].to_f}%"
                      %td
                        = "#{grades["test_case_weight"]}%"
                      %td
                        = "#{grades["final_grade"].to_f}%"
            .text-right 
              %a{:href => "/admin/grades/#{@assignment_id}/#{Time.now.strftime("%m-%d-%Y")}.csv"}
                Download Grades
                %i.fa.fa-arrow-circle-right