///////////////////////////////////////////////////////////////////////////////
//
// Automated Marking System (AMS)
// 
// A scalable automated marking system that provides automated marking, quality
// feedback, and cheating detection all in one easy to use solution.
//
//
// Copyright (C) 2014, Joseph Heron, Jonathan Gillett, Daniel Smullen, 
// and Khalil Fazal
// All rights reserved.
//
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
///////////////////////////////////////////////////////////////////////////////
-# This file is app/view/admin/index.html.haml
#page-wrapper
  .row
    .col-lg-12
      %h1
        Assignments
        %small Overview
      %ol.breadcrumb
        %li.active
          %i.fa.fa-edit
          Assignments
  / /.row
  .row
    .col-lg-4
      .panel.panel-success
        .panel-heading
          .row
            .col-xs-6
              %i.fa.fa-check.fa-5x
            .col-xs-6.text-right
              %p.announcement-heading
                = @review_submissions
              %p.announcement-text Submissions
        - if @latest
          %a{:href => "/admin/grades/#{@latest.id}"}
            .panel-footer.announcement-bottom
              .row
                .col-xs-6 
                  Review Submissions
                .col-xs-6.text-right
                  %i.fa.fa-arrow-circle-right
        - else 
          %a{:href => "#"}
            .panel-footer.announcement-bottom
              .row
                .col-xs-6
                  Review Submissions
                .col-xs-6.text-right
                  %i.fa.fa-arrow-circle-right
    .col-lg-4
      .panel.panel-warning
        .panel-heading
          .row
            .col-xs-6
              %i.fa.fa-exclamation-triangle.fa-5x
            .col-xs-6.text-right
              %p.announcement-heading 
                = @view_assignment
              %p.announcement-text Not Submitted
        - if @latest
          %a{:href => "/admin/assignment/#{@latest.id}"}
            .panel-footer.announcement-bottom
              .row
                .col-xs-6
                  View Assignment Posting
                .col-xs-6.text-right
                  %i.fa.fa-arrow-circle-right
        - else 
          %a{:href => "#"}
            .panel-footer.announcement-bottom
              .row
                .col-xs-6
                  View Assignment Posting
                .col-xs-6.text-right
                  %i.fa.fa-arrow-circle-right
    .col-lg-4
      .panel.panel-danger
        .panel-heading
          .row
            .col-xs-6
              %i.fa.fa-tasks.fa-5x
            .col-xs-6.text-right
              %p.announcement-heading 
                = @resolve_issues
              %p.announcement-text Submission Errors
        - if @latest
          %a{:href => "/admin/grades/#{@latest.id}/cheating"}
            .panel-footer.announcement-bottom
              .row
                .col-xs-6
                  Resolve Issues
                .col-xs-6.text-right
                  %i.fa.fa-arrow-circle-right
        - else
          %a{:href => "#"}
            .panel-footer.announcement-bottom
              .row
                .col-xs-6
                  Resolve Issues
                .col-xs-6.text-right
                  %i.fa.fa-arrow-circle-right
  / /.row
  .row
    .col-lg-12
      .panel.panel-primary
        .panel-heading
          %h3.panel-title
            %i.fa.fa-edit
            Posted Assignments
        .panel-body
          .table-responsive
            %table.table.table-bordered.table-hover.table-striped.tablesorter
              %thead
                %tr
                  %th Assignment
                  %th Date Posted
                  %th Date Due
                  %th Submissions
                  %th Average Grade                  
              %tbody
                - @assignments.each do |assignment|
                  %tr
                    %td
                      %a{:href => "/admin/assignment/#{assignment.id}"}
                        = assignment.name
                    %td
                      = assignment.posted
                    %td
                      = assignment.due
                    %td
                      = assignment.submission_count
                    %td
                      %a{:href => "/admin/grades/#{assignment.id}"} 80%              
          .text-right
            %a{:href => "/admin/new"}
              Add New Assignment
              %i.fa.fa-arrow-circle-right
  / /.row
/ /#page-wrapper