.container
  .row
    .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
      %h2
        Please Register
        %small An account is required.
      %hr.colorgraph
        = form_for @user, url: {action: "create"} do |s|
          - if @user.errors.any?
            .error_messages
              %h2 Form is invalid
              %ul
                - for message in @user.errors.full_messages
                  %li= message
          .row
            .col-xs-12.col-sm-6.col-md-6
              .form-group
                = s.text_field :first_name, class: "form-control input-lg",placeholder: "First Name", :tabindex => "1"
            .col-xs-12.col-sm-6.col-md-6
              .form-group
                = s.text_field :last_name, class: "form-control input-lg",placeholder: "Last Name", :tabindex => "2"
          .form-group
            = s.text_field :student_id, class: "form-control input-lg",placeholder: "Student ID", tabindex: "3"
          .form-group
            = s.email_field :email, class: "form-control input-lg",placeholder: "Email Address", :tabindex => "4"
          .row
            .col-xs-12.col-sm-6.col-md-6
              .form-group
                = s.password_field :password, class: "form-control input-lg",placeholder: "Password", :tabindex => "5"
            .col-xs-12.col-sm-6.col-md-6
              .form-group
                = s.password_field :password_confirmation, class: "form-control input-lg",placeholder: "Confirm Password", :tabindex => "6"
          .row
            .col-xs-4.col-sm-3.col-md-3
              %span.button-checkbox
                %button.btn{"data-color" => "info", :tabindex => "7", :type => "button"} I Agree
                %input#t_and_c.hidden{:name => "t_and_c", :type => "checkbox", :value => "1"}
            .col-xs-8.col-sm-9.col-md-9
              By clicking
              = succeed "," do
                %strong.label.label-primary Register
              you agree to the
              %a{"data-target" => "#t_and_c_m", "data-toggle" => "modal", :href => "#"} Terms and Conditions
              set out by the University of Ontario Institute of Technology.
          %hr.colorgraph
            .row
              .col-xs-12
                %input.btn.btn-primary.btn-block.btn-lg{:tabindex => "7", :type => "submit", :value => "Submit"}/
  / Modal
  #t_and_c_m.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4#myModalLabel.modal-title Terms &amp; Conditions
        .modal-body
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.
        .modal-footer
          %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} I Agree
      / /.modal-content
    / /.modal-dialog
  / /.modal
